{% extends 'base.html.twig' %}

{% block title %}Card index{% endblock %}

{% block body %}
    <h1>Card index</h1>
    <div class="mb-5">
    <a href="{{ path('api_request', {'page':  page}) }}"><button class="btn-primary" >Page Suivante</button></a>
    </div>
    {% for card in cards %}
        <a data-target="#{{ card.id }}" data-toggle="modal" href="#" class="color-gray-darker td-hover-none">
                <img alt="{{ card.name }}" src="{{ card.image_uris.small }}">
        </a>
        <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="{{ card.id }}" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body mb-0 p-0">
                        <div class="row">
                            <div class="col-12 justify-content-center">
                                <img src="{{ card.image_uris.png }}" alt="{{ card.name }}">
                            </div>
                            <div class="col-4">
                                <button class="btn btn-outline-primary btn-rounded btn-md ml-4 text-center" data-dismiss="modal" type="button">Close</button>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-outline-secondary btn-rounded btn-md ml-4 text-center" data-dismiss="modal" type="button">Ajouter aux favoris</button>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-outline-warning btn-rounded btn-md ml-4 text-center" data-dismiss="modal" type="button">Ajouter à la bibliothèque</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="mt-5">
    <a href="{{ path('api_request', {'page':  page}) }}"><button class="btn-primary" >Page Suivante</button></a>
    </div>

{% endblock %}
