{% extends 'base.html.twig' %}

{% block title %}Oracle index{% endblock %}

{% block body %}
    <h1>Oracle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for oracle in oracles %}
            <tr>
                <td>{{ oracle.id }}</td>
                <td>{{ oracle.value }}</td>
                <td>{{ oracle.text }}</td>
                <td>
                    <a href="{{ path('oracle_show', {'id': oracle.id}) }}">show</a>
                    <a href="{{ path('oracle_edit', {'id': oracle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('oracle_new') }}">Create new</a>
{% endblock %}
