<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade justify-content-center" id="card{{ card.id }}"
     role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-lg mt-5" role="document">
        <div class="modal-content oracle
                {% if card.colors is defined %}
                    {% if card.colors|first == 'B' %}
                    manaB
                    {% elseif card.colors|first == 'W' %}
                    manaW
                    {% elseif card.colors|first == 'G' %}
                    manaG
                    {% elseif card.colors|first == 'R' %}
                    manaR
                    {% elseif card.colors|first == 'U' %}
                    manaU
                    {% elseif card.colors|first == 'C' %}
                    manaC
                    {% endif %}
                {% endif %}">

        <div class="row">
            <div class="col-5">
                <img class="img" src="{{ card.image_uris.png }}" alt="{{ card.name }}">
                <a href="#" data-target="#card{{ card.id }}" data-toggle="modal"
                   class="color-gray-darker td-hover-none">
                </a>
            </div>
            <div class="offset-1"></div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12 mb-5 mt-5">
                        <h3>{{ card.name }}</h3>
                    </div>
                    <div class="col-12 mb-5">
                        <h4>{{ card.type_line }}</h4>
                    </div>
                    <div class="col-12 mb-5">
                        <h5>
                            {% if card.oracle_text is defined %}
                                {{ card.oracle_text }}
                            {% else %}
                                {{ card.printed_text }}

                            {% endif %}
                        </h5>
                    </div>
                    {% if card.rarity is defined %}
                    <div class="col-12 mb-5">
                        <h4>Rareté :<small>{{ card.rarity }}</small></h4>
                    </div>
                        {% endif %}
                    <div class="col-12 text-right pr-5">
                        <h4>
                        {% if card.power is defined %}
                            {{ card.power }} /
                            {{ card.toughness }}
                        {% endif %}
                        </h4>
                    </div>
                    {% if (app.user.roles is defined) %}
                        <div class="col-6 librarymodal mt-3">
                    <a href="{{ path('add_card', {'idCard':card.id, 'search':search, 'next':next}) }}">
                        <button class="library mbutton btn btn-bloc btn-success  ">
                            <i class="fa fa-plus-circle"></i> Bibliothèque
                        </button>
                    </a>
                        </div>
                    {% endif %}
                    <div class="dropdown deckdrop mt-3 col-6">
                        <a class="decks mbutton btn btn-secondary dropdown-toggle" href="#" role="button"
                           id="dropdownMenuLink"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-plus-circle mr-1"></i> Decks
                        </a>
                        <div class="dropdown-menu mbutton" aria-labelledby="dropdownMenuLink">
                            {% for deck in decks %}
                                <a class="dropdown-item dropmenu deckmenu" href="{{ path('add_to_deck', {'idCard':card.id, 'search':search, 'next':next, 'idDeck':deck.id}) }}">{{ deck.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
