{% extends 'base.html.twig' %}
{% block title %}Deck{% endblock %}

{% block body %}
    <div class="row mt-4">
        <div class="offset-1"></div>
        <div class="col-2">
            <div class="new">
            <h3 class="text-center">Nouveau</h3>
            {{ include('deck/_form.html.twig') }}
            </div>
            <div class="new mt-5">

            <h2 class="text-center">Vos Decks</h2>

            {% for deck in decks %}
                <div>
                    <a href="{{ path('deck_show', {'id': deck.id}) }}" class="text-dark">{{ deck.name|capitalize }}</a>
                    <a href="{{ path('deck_edit', {'id': deck.id}) }}"><i class="fas fa-pencil-alt text-dark"></i></a>
                </div>
            {% else %}
                <p>Aucun deck pour le moment</p>
            {% endfor %}
            </div>
        </div>
        <div class="col-7 deckshow">
            <div class="container">
                <h2 class="text-center">Deck : {{ deck.name|capitalize }}</h2>
                <h3 class="text-center">{{ cards|length }} cartes</h3>
                {% for card in cardsPages %}
                    <div class="show-image">
                        <a href="#" data-target="#card{{ card.id }}" data-toggle="modal"
                           class="color-gray-darker td-hover-none">
                            <img class="ml-1 mb-1 mr-1 mt-1 .cardSmall grey-card
                        {% for gotcard in library %}
                        {% if card.id == gotcard.cardId %}
                        not-grey
                        {% endif %}
                    {% endfor %} " alt="{{ card.name }}" src="{{ card.image_uris.png }}">
                            {% for gotcard in library %}
                                {% if card.id != gotcard.cardId %}
                                    <a href="{{ card.purchase_uris.cardmarket }}">
                                        <button class="buy mbutton btn btn-bloc btn-success ">
                                            <i class="fas fa-shopping-cart"></i> Acheter
                                        </button>
                                    </a>
                                {% endif %}
                            {% endfor %}
                            <a href="#" data-target="#card{{ card.id }}" data-toggle="modal">
                                <button class="show mbutton btn btn-bloc btn-danger">Voir
                                    <i class="fa fa-plus-circle"></i></button>
                            </a>
                        </a>
                    </div>
                    {% include('_modal_search_deck.html.twig') %}

                {% endfor %}

            </div>
        </div>
        <div class="offset-2"></div>
    </div>

    </div>
    <div class="d-flex justify-content-center mt-5 nav-pagination text-dark">
        {{ knp_pagination_render(cardsPages) }}
    </div>
{% endblock %}
